/* Colors
-dark-primary-color  #303f9f;
-deault-primary-coloe #3f51b5;
-light-primary-color  #c5cae9;
-text-primary-color   #ffffff;
-accent-color #ff5722;
-primary-text-color #212121;
-secondary-text-color #757575;
-divider-color #bdbdbd;
*/
*{
  margin: 0;
  padding: 0;
}

body{
}

.container-fluid{
min-height: 600px;
text-align: center;
}

.row{

}

.col-9{

}

.col-3{

}

.row-12{

}

.text-row{

}

.logo{
  width: 20%;
  float: left;
  margin-top: 15px;
  font-size: 100px;
  color: #9e9e9e;
}

.nav{
  width: 80%;
  margin-top: 80px;
  font-size: 20px;
  float: left;
  font-family: 'Roboto', sans-serif;
}

.nav ul li{
  float: left;
  list-style: none;
  padding-right: 30px;

}

.nav a{
  color: #9e9e9e;
  padding: 15px 50px 15px 50px;
}

.nav a:hover{
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #ff4500;
  border-radius: 3px;
}

.search
{

}
input
  {
    text-align: center;
    background-color: #ffffff;
    color: #9e9e9e;
    padding: 5px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    border-bottom-color: #ff4500;
    width: 250px;
}
input:hover
{
  cursor: pointer;

}
button
{
  font-weight: bold;
  color: #9e9e9e;
  width: 90px;
  padding: 5px;
  background-color: #ffffff;
  text-align: center;
  border: none;
  border-color: #70401a;
}
button:hover
{
  cursor: pointer;
}

.movies img{
  width: 50%;
  height: 50%;
}

.result{
  width: 25%;
  float: left;
}

.footer{
  background-color:#FFFFCC;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 10px;
  height: 40px;
  min-height: 40px;
  font-family: 'Roboto', sans-serif;
}

.hidden{
  display: none;
}
